@page "/posetitelis/delete"
@using Microsoft.EntityFrameworkCore
@using BlazorApp.Data
@inject IDbContextFactory<BlazorApp.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Удалить</PageTitle>

<h1>Удалить посетителя</h1>

<div>
    <hr />
    @if (posetiteli is null)
    {
        <p><em>Загрузка...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Фамилия</dt>
            <dd class="col-sm-10">@posetiteli.Familiya</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Имя</dt>
            <dd class="col-sm-10">@posetiteli.Imya</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Дата рождения</dt>
            <dd class="col-sm-10">@posetiteli.Datebirth</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Телефон</dt>
            <dd class="col-sm-10">@posetiteli.Phone</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Электронная почта</dt>
            <dd class="col-sm-10">@posetiteli.Email</dd>
        </dl>
        <EditForm method="post" Model="posetiteli" OnValidSubmit="DeletePosetiteli" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(posetiteli is null)">Удалить</button> |
            <a href="/posetitelis">Вернуться к списку посетителей</a>
        </EditForm>
    }
</div>

@code {
    private Posetiteli? posetiteli;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        posetiteli = await context.posetitels.FirstOrDefaultAsync(m => m.Id == Id);

        if (posetiteli is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeletePosetiteli()
    {
        using var context = DbFactory.CreateDbContext();
        context.posetitels.Remove(posetiteli!);
        foreach (var i in context.bilets.Where(i => i.Posetitel == posetiteli!.Id))
        {
            context.bilets.Remove(i);
        }
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/posetitelis");
    }
}
