@page "/bilets/details"
@using Microsoft.EntityFrameworkCore
@using BlazorApp.Data
@inject IDbContextFactory<BlazorApp.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Подробнее</PageTitle>

<h1>Подробнее</h1>

<div>
    <hr />
    @if (bilet is null)
    {
        <p><em>Загрузка...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Посетитель</dt>
            <dd class="col-sm-10">@data[0]</dd>
            <dt class="col-sm-2">Выставка</dt>
            <dd class="col-sm-10">@data[1]</dd>
            <dt class="col-sm-2">Дата посещения</dt>
            <dd class="col-sm-10">@bilet.VisitDate</dd>
            <dt class="col-sm-2">Стоимость</dt>
            <dd class="col-sm-10">@bilet.Cost</dd>
        </dl>
        <div>
            <a href="@($"/bilets/edit?id={bilet.Id}&back={back}")">Редактировать</a> |
            @if (back == 1)
            {
                <a href="@($"bilets?id={bilet.Vistavka}&back={back}")">Возврат к списку билетов</a>
            }
            else if (back == 2)
            {
                <a href="@($"bilets?id={bilet.Posetitel}&back={back}")">Возврат к списку билетов</a>
            }
        </div>
    }
</div>

@code {
    private Bilet? bilet;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromQuery]
    private int? back { get; set; }

    string[] data = new string[] { "", "" };

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        bilet = await context.bilets.FirstOrDefaultAsync(m => m.Id == Id);

        if (bilet is null)
        {
            NavigationManager.NavigateTo("notfound");
        }

        var p = context.posetitels.Where(j => j.Id == bilet!.Posetitel).FirstOrDefault();
        data[0] = p!.Familiya + " " + p.Imya;
        data[1] = context.vistavkis.Where(j => j.Id == bilet!.Vistavka).FirstOrDefault()!.Title;
    }
}
