@page "/bilets/edit"
@using Microsoft.EntityFrameworkCore
@using BlazorApp.Data
@inject IDbContextFactory<BlazorApp.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Редактировать билет</PageTitle>

<h1>Редактировать билет</h1>

<hr />
@if (Bilet is null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Bilet" OnValidSubmit="UpdateBilet" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Bilet.Id" value="@Bilet.Id" />
                @if (back == 2)
                {
                    <div class="mb-3">
                        <label for="vistavka" class="form-label">Выставка</label>
                        <InputSelect id="vistavka" @bind-Value="Bilet.Vistavka">
                            <option value="">...</option>
                            @if (vistavkis != null)
                            {
                                @foreach (var vistavka in vistavkis)
                                {
                                    <option value="@vistavka.Id">@vistavka.Title</option>
                                }
                            }
                        </InputSelect>
                        <ValidationMessage For="() => Bilet.Vistavka" class="text-danger" />
                    </div>
                    <input type="hidden" name="Bilet.Posetitel" id="vistavka" @bind="Bilet.Posetitel"></input>
                }
                else if (back == 1)
                {
                    <div class="mb-3">
                        <label for="posetitel" class="form-label">Посетитель</label>
                        <InputSelect id="posetitel" @bind-Value="Bilet.Posetitel" class="form-control">
                            <option value="">...</option>
                            @if (posetitelis != null)
                            {
                                @foreach (var posetiteli in posetitelis)
                                {
                                    <option value="@posetiteli.Id">@posetiteli.Familiya @posetiteli.Imya</option>
                                }
                            }
                        </InputSelect>
                        <ValidationMessage For="() => Bilet.Posetitel" class="text-danger" />
                    </div>
                    <input type="hidden" name="Bilet.Vistavka" id="posetitel" @bind="Bilet.Vistavka"></input>
                }
                <div class="mb-3">
                    <label for="visitdate" class="form-label">Дата посещения</label>
                    <InputDate id="visitdate" @bind-Value="Bilet.VisitDate" class="form-control" />
                    <ValidationMessage For="() => Bilet.VisitDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="cost" class="form-label">Стоимость</label>
                    <InputNumber id="cost" @bind-Value="Bilet.Cost" class="form-control" />
                    <ValidationMessage For="() => Bilet.Cost" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="@($"bilets?id={Id}&back={back}")">Возврат к списку билетов</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int? Id { get; set; }

    [SupplyParameterFromQuery]
    private int? back { get; set; }

    [SupplyParameterFromForm]
    private Bilet? Bilet { get; set; }

    public IEnumerable<Vistavki> vistavkis = default!;
    public IEnumerable<Posetiteli> posetitelis = default!;

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        if (Id == null || back == null) NavigationManager.NavigateTo("notfound");
        Bilet ??= await context.bilets.FirstOrDefaultAsync(m => m.Id == Id);

        if (Bilet is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
        if (back == 1)
        {
            posetitelis = await context.posetitels.ToListAsync();
            Id = Bilet!.Vistavka;
        }
        else if (back == 2)
        {
            vistavkis = await context.vistavkis.ToListAsync();
            Id=Bilet!.Posetitel;
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateBilet()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Bilet!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!BiletExists(Bilet!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/bilets?" + "id=" + Id.ToString() + "&back=" + back.ToString());
    }

    private bool BiletExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.bilets.Any(e => e.Id == id);
    }
}
